.button {
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.button_red {
  border: 1px solid rgba(210, 25, 25, 0.5);
  color: #d21919;
  background-color: #fff;
}

.button_red:hover {
  background-color: rgba(210, 25, 25, 0.05);
}

.button_orange {
  border: 1px solid rgba(210, 102, 25, 0.5);
  color: #d27c19;
  background-color: #fff;
}

.button_orange:hover {
  background-color: rgba(210, 84, 25, 0.05);
}

.button_blue {
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  background-color: #fff;
}

.button_blue:hover {
  background-color: rgba(25, 118, 210, 0.05);
}
